/* universal styles */
* {
	box-sizing: border-box;
	}


/* base styles */

body {
	background: #f1f1f1;
	font-family: Titillium, sans-serif;
	color: rgb(74,74,74);
	}
	
#wrapper {
	margin: 0 auto;
	max-width: 1024px;
	}

h1 {
	text-align: center;	
	font-size: 2.5rem;
	padding: 25px 0 20px;
	margin: 0;
	text-transform: uppercase;
	text-shadow: 2px 2px 1px rgba(100,100,100, 0.3);
	}
	
h3 {
	font-size: 1.5rem;
	font-weight: 600;	
	}

p {
	font-size: 1.4rem;
	font-weight: 100;
	}

img { 
	width: 100%;
	}

/* link styles */

a {
	color: inherit;
	text-decoration: none;	
	}


/* header styles */

header {
	text-align: center;	
	padding: 2rem 4%;
	}


/* utility styles */

.clearfix {
	clear: both;
	}


/* nav styles */

.nav {
	text-align: center;	
	list-style-type: none;
	padding: 0;
	}
	
.nav li {
	background: white;
	margin: 5px 4% 0;
	font-size: 1.1rem;
	letter-spacing: .2em;
	color: inherit;
	font-weight: 600;
	text-transform: uppercase;
	}

.nav a {
	padding: 17px 0 13px;
	text-decoration: none;
	display: block;
	border: 2px solid white;
	}

.nav a:hover {
	border-top: 2px solid #eaeaea;
	border-left: 2px solid #eaeaea;
	background: #efefef;
	}


/* intro styles */

.profile-pic {
 width: 65%;
 max-width: 300px;
 border: 4px solid #fff;
 }


/* main-content styles */

#main-content {
	text-align: center;
	background: white;
	padding: 2rem 0 1rem;
	}

#main-content h2 {
	padding: .7rem 0 2rem;
	margin: 0;
	text-transform: uppercase;	
	}

#main-content p {
	font-size: 1.2rem;
	margin: 0;
	}

.project img {
	box-shadow: 0 5px 8px rgba(0,0,0,0.2);	
	}

.project {
	padding: 0 4% 3rem;
	}
	
.project img {
	transition: all .5s;
	}
	
.project img:hover {
	transform: scale(.95)
	}


/* contact-info styles */

#contact-info {
	text-align: center;	
	padding: 3rem 3% 2rem 3%;
	}

#contact-info h2 {
	margin: 0;
	text-transform: uppercase;
	}

.phone span {
	font-weight: 600;
	}

.email a {
	font-weight: 600;
	transition: all .5s;	
	}
	
.email a:hover {
	transform: rotate(70deg);
	}


/* footer styles */

footer {
	margin: 0 3%;
	padding: 4% 0;
	border-top: 1px solid #d4d4d4;
	}

footer h2 {
	font-size: 1.5rem;
	display: inline-block;
	}

footer p {
	font-size: 1rem;
	float: right;
	line-height: 1.5rem;
	text-transform: uppercase;
	}
	
.footer-nav {
	display: none;
	}


/* for screens larger > 768 */

@media screen and (min-width: 768px) {
			
		.nav, h1{
			margin: 0;
			}
		
		.nav li {
			display: inline-block;
			}
		
		.nav a, .nav a:hover {
			padding: 0;
			border: none;
			background: #f1f1f1;}
			
		.nav a:hover {
			text-decoration: underline;
			}
			
		header {
			text-align: left;	
			}
			
		.profile-pic {
			float: right;
			width: 65%;
			max-width: 300px;
			border: 4px solid #fff;
			margin-left: 1.5rem;
			}
			
		.project {
			width: 50%;
			float: left;
			padding: 0 10px 3rem;
			}
			
		.project:nth-child(even) {
			clear: both;
			}
			
		.footer-nav {
			list-style-type: none;
			float: right;
			display: inherit;
			}
			
		.footer-nav li {
			font-weight: 600;
			text-transform: uppercase;
			display: inline-block;
			margin: 5px 0 0 40px; 
			}
			
		.top {
			display: none;
			}
		
}


/* for screens larger > 1024 */

@media screen and (min-width: 1024px) {

		h1 {
			float: left;
			padding: 1.8rem 0 0 4%;
			}
			
		.nav {
			margin: 2rem 0;
			}
			
		.nav {
			width: 500px;
			text-align: right;
			float: right;
			}
		
		.profile-pic {
			float: right;
			width: 65%;
			max-width:350px;
			border: 4px solid #fff;
			margin-left: 1.5rem;
			}
			
		.project {
			width: 33.333%;
			float: left;
			padding: 0 2% 3rem 2%;
			}
			
		.project:nth-child(even) {
			clear: none;
			}
			
		#contact-info {
			margin: 0 auto;
			max-width: 60%;
			}
	
}